
@media screen and (max-width: 375px) {

  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding-bottom: 1em;
    padding-right: 0.75em;
  }

  .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
  }
  .header__logo {
    height: 48px;
    margin-right: 0.5em;
  }
  .header__title {
    margin-left: 0;
    font-size: 2em;
    margin-bottom: 15px;
  }

  .nav__item {
    font-size: 1.25em;
  }

  .search_list {
    width: 250px;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }

  .search__label,
  .search__box,
  .list__item {
    font-weight: 100;
    font-size: 1.50em;
  }

  .search_list.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  #map {
    width:90%;
  }

}

@media screen and (min-width: 611px) {

}

@media screen and (min-width: 700px) {

}

@media screen and (min-width: 850px) {

}